<div >
  <table class="table table-bordered" >
   <tr>
     <th><h1>Your Details</h1></th>
   </tr>
   <tr>
     <td>Name: </td>  <td> {{student.name}}</td>
   </tr>
   <tr>
     <td>Gender:</td><td>{{student.gender}}</td>
   </tr>
   <tr>
     <td>Date Of Birth: </td>  <td>{{student.dob | date:'dd/MM/yyyy'}}</td>
   </tr>
   <tr>
     <td>Contact No.:</td>  <td> {{student.contactNo}}</td>
   </tr>
   <tr>
     <td>Email: </td>  <td>{{student.email}}</td>
   </tr>
   <tr>
     <td>User Name: </td>  <td>{{student.userName}}</td>
   </tr>
   <!-- <tr>
     <td>Interests: </td>  <td>{{student.interests}}</td>
   </tr> -->
 </table>
 </div>

 <div *ngIf=!noBooksFound><h1>Books based on your borrows</h1></div>
 <div>
  <table class="table table-bordered">
    <tr><th colspan="5"></th><th colspan="2"><h1>List of Books</h1></th><th colspan="2"></th></tr>
      <tr><th>Book Id</th><th>Name</th><th>Genre</th><th>Author</th><th>Price</th><th>ISBN</th><th>Brief Description</th><th>Copies Available</th><th>Status</th></tr>
      <tr *ngFor="let b of books">
        <td>{{b.bookId}}</td>
        <td>{{b.bookName}}</td>
        <td>{{b.bookGenre}}</td>
        <td>{{b.bookAuthor}}</td>
        <td>{{b.bookPrice}}</td>
        <td>{{b.isbn}}</td>
        <td>{{b.bookDescription}}</td>
        <td>{{b.noOfCopies}}</td>
        <td>{{b.bookStatus}}</td>
      </tr>
      <hr>
    </table>
</div>

