<div >
  <table class="table table-bordered" >
   <tr>
     <th><h1>Your Details</h1></th><th class="searchButton"><button class="btn btn-success" name="searchBooks" (click)="searchNewBooks()">Search Books</button></th>
   </tr>
   <tr>
     <td>Name: </td>  <td> {{student.name}}</td>
   </tr>
   <tr>
     <td>Gender:</td><td>{{student.gender}}</td>
   </tr>
   <tr>
     <td>Date Of Birth: </td>  <td>{{student.dob | date:'dd/MM/yyyy'}}</td>
   </tr>
   <tr>
     <td>Contact No.:</td>  <td> {{student.contactNo}}</td>
   </tr>
   <tr>
     <td>Email: </td>  <td>{{student.email}}</td>
   </tr>
   <tr>
     <td>User Name: </td>  <td>{{student.userName}}</td>
   </tr>
 
 </table>
 </div>
<br>
<br>
 <div *ngIf=!noBooksFound><h2>Books You Have Read....</h2></div>
 <div *ngIf=noBooksFound><h2>Get Started By Searching for your favorite book!!</h2></div>
 <div>
  <table class="table table-bordered" *ngIf=!noBooksFound>
      <tr><th>Book Id</th><th>Name</th><th>Genre</th><th>Author</th><th>Price</th><th>ISBN</th><th>Brief Description</th><th>Date of Issue</th><th>Date returned/to be returned</th><th>Amount Paid</th><th></th></tr>
      <tr *ngFor="let b of transactions">
        <td>{{b.book.bookId}}</td>
        <td>{{b.book.bookName}}</td>
        <td>{{b.book.bookGenre}}</td>
        <td>{{b.book.bookAuthor}}</td>
        <td>{{b.book.bookPrice}}</td>
        <td>{{b.book.isbn}}</td>
        <td>{{b.book.bookDescription}}</td>
        <td>{{b.dateOfIssue | date:'dd/MM/yyyy'}}</td>
        <td>{{b.dateOfReturn | date:'dd/MM/yyyy'}}</td>
        <td>{{b.amount}}</td>

        <td class="returnBookButton"><button class="btn btn-success" [disabled]="b.transactionStatus=='closed'" (click)="onButtonClick($event, b.book)">Return This Book</button></td>
        <!-- <td><input type="text" [(ngModel)]=returnDate name="dor" class="form-control" placeholder="Enter return date(in dd-MM-yyyy)" required></td> -->
      </tr>
      <hr>
    </table>
</div>


