<app-librarian-header></app-librarian-header>
<div *ngIf=!itemClicked>
  <table class="table table-bordered">
    <tr><th colspan="5"></th><th colspan="2"><h1>List of Books</h1></th><th class="backButton" colspan="4"><button class="btn btn-success" name="backButton" (click)="goBack()">Go Back</button></th></tr>
      <tr><th>Book Id</th><th>Name</th><th>Genre</th><th>Author</th><th>Price</th><th>ISBN</th><th>Brief Description</th><th>Copies Available</th><th>Status</th><th></th><th></th></tr>
      <tr *ngFor="let b of books">
        <td>{{b.bookId}}</td>
        <td>{{b.bookName}}</td>
        <td>{{b.bookGenre}}</td>
        <td>{{b.bookAuthor}}</td>
        <td>{{b.bookPrice}}</td>
        <td>{{b.isbn}}</td>
        <td>{{b.bookDescription}}</td>
        <td>{{b.noOfCopies}}</td>
        <td>{{b.bookStatus}}</td>
        <td><button name="delete book" class="btn btn-danger" (click)="deleteButtonClicked($event, b)">Delete Book</button></td>
        <td><button name="view who has taken this book" class="btn btn-success" (click)="viewWhoHasTakenThisBook($event, b)">View The Borrowers</button>
        </td>
      </tr>
      <hr>
      <tr>
         <th colspan="9" *ngIf=noStudentHasTakenThisBook><h2>{{message}}</h2></th>
      </tr>
    </table>
</div>

<div *ngIf=itemClicked >
  <table class="table table-bordered">
    <tr><th colspan="3"></th><th colspan="3"><h1>List of Students</h1></th><th class="backButton" colspan="3"><button class="btn btn-success" name="backButton" (click)="goBack()">Go Back</button></th></tr>
      <tr><th>Student Id</th><th>Name</th><th>Contact No.</th><th>E-mail</th><th>Transaction Id</th><th>Date of Issue</th><th>Date of Return</th><th>Amount</th><th>Status</th></tr>
      <tr *ngFor="let s of transactions">
        <td>{{s.student.studentId}}</td>
        <td>{{s.student.name}}</td>
        <td>{{s.student.contactNo}}</td>
        <td>{{s.student.email}}</td>
        <td>{{s.transactionId}}</td>
        <td>{{s.dateOfIssue | date:'dd-MM-yyyy'}}</td>
        <td>{{s.dateOfReturn | date:'dd-MM-yyyy'}}</td>
        <td>{{s.amount}}</td>
        <td>{{s.transactionStatus}}</td>
      </tr>
    </table>
</div>
